body{
    background-color: rgb(65, 46, 112);
    font-family: 'Karla', sans-serif;
}

h1 {
    text-align: center;
color: whitesmoke;
}

.button-primary{
    margin: 5%;
    box-sizing: border-box;
    padding: 20px 20px 80px;
    width: 300px;
    background: #23233d;
    color: #fff;
    font-size: 130%;
    border-radius: 3%;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    animation: popupAnim 0.3s forwards;
}

@keyframes popupAnim {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
  
.button-primary:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
    transform: scale(1.02);
    transition: transform 0.5s ease;  }

li{
    margin: 1%;
    display: inline-block;
  box-sizing: border-box;
   }


ul{
    max-width: 30%;
    list-style-type: none;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.modal{
    width: 80%;
    height: 80%;
}

.main-container{
    text-align: center;
    display: block;
    color: whitesmoke;
}

#modal-container {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #23233d;

  }

  #modal-container.is-visible {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    width: 20rem;
    height: 30rem;
    border-radius: 2%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto; 
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    animation: popupAnim 0.3s forwards;
}

@keyframes popupAnim {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
    
.modal-img{

    width: 50%;
  animation: avatarBounce 2s infinite;
}

@keyframes avatarBounce {
  0% {
    transform: translateY(-5px)
  }
  50% {
    transform: translateY(5px) scale(1.05)
  }
  100% {
    transform: translateY(-5px)
  }
}

.modal-close{
    background: #23233d;
    color: #fff;
    border-radius: 2%;
    float: right;
}
  
 
